
// General colors

//$gray--Lighten:        #####
$gray--light:          #f1f2f3; //Background
//$gray:               #f1f2f3; //Background
$gray--dark:           #666; //Burger button bcg, navbar hover
$gray--darken:         #1a1a1a; //Fonts

//// Theme color

$color-secondary:      #F9B700;
$color-danger:         #e00000;
$color-dark:           #000;

//// Button color
$btn-main-bg:          #71b430;
$btn-main-bg--hover:   #588c25;
$btn-main-bg--active:  #333;
$btn-main-color:       #fff;
$btn-secondary-bg:     #333;
$btn-main-bg--hover:   #666;
$btn-main-bg--active:  #666;
