
//// Theme color
$color-secondary:      #F9B700; //
$color-dark:           #000; // Black for everywhere
$gray--light:          #f1f2f3; // Background for sections/components

// Fonts:
$gray--darken:         #1a1a1a; // Basic Font
$gray--dark:           #666; // Hover Font (+ burger button)
$color-danger:         #e00000; // Danger Font

//// Button color
$btn-main-bg:          #71b430;
$btn-main-bg--hover:   #588c25;
$btn-main-bg--active:  #333;
$btn-main-color:       #fff;
$btn-secondary-bg:     #333;
$btn-main-bg--hover:   #666;
$btn-main-bg--active:  #666;
$orange: rgba(198, 159, 14, 0.51);
