.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.modal-window {
  position: relative;
}

.modal-delete {
  background-color: #e74c3c;
}

.modal-update {
  background-color: green;
}

.modal-confirm-purchase {
  background-color: green;
}
.modal-confirm-deletion {
  background-color: tomato;
}

.modal-header {
  font-size: 22px;
  font-weight: bold;
  padding: 20px 40px;
}

.modal-delete .modal-header{
  background-color: #d44637;
}

.modal-update .modal-header {
  background-color: #006c00;
}

.modal-close-btn:before {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: black
}

.modal-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  white-space: pre-line;
  line-height: 1.5rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.modal-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-btns-wrapper {
  display: flex;
  justify-content: center;
}





.btn-main {
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0 black;
  padding: 1rem;
}

.btn-modal {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.btn-modal:hover {
  background-color: rgba(0, 0, 0, 0.6);
}