@import "../Variables/variables";


.product-mini {
  width: 20%;
  /* width: 198px; */
  display: flex;
  flex-direction: column;
}

.product-mini-remove {
  text-align: right;
  cursor: pointer;
}

.show-product {
  display: flex;
}

.show-product-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product-items {
  color: $btn-main-bg;
  padding: 0 5px
}

//.product-title {
//  font-size: 0.85rem;
//  font-weight: 100;
//}