.footer-about {
  display: flex;
  grid-area: foot-about;
  align-items: center;
  padding: 20px;
}
.footer-about-logo{
  height: 50px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 0 70px rgb(245, 242, 242);
}
.footer-about-text{
  margin-left: 15px;
}

@media (min-width: 768px) {
  .footer-about {
    display: block;
  }
  .footer-about-text{
    margin-left: 0;
  }
}