.footer-info{
  display: block;
  font-size: 12px;
  grid-area: foot-info;
  padding: 20px;
  margin-left: 20vw;
}


@media (min-width: 768px) {

.footer-info{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  font-size: 15px;
}
  .MuiListItem-gutters.info-list-item{
    padding-left: 0;
  }
}